extends layout

block headContent
	title Assets

block content
	h1(class="h2") Assets

	if (gold_assets)
		include includes/assets-list-gold.pug
	else
		p No gold assets found

	if (policy_assets)
		include includes/assets-list-policy.pug
	else
		p No policy assets found
