extends layout

block headContent
	title Assets

block content
	h1(class="h2") Assets

	if (assets)
		include includes/assets-list.pug

		if (blockCount > limit)
			- var pageNumber = offset / limit + 1;
			- var pageCount = Math.floor(blockCount / limit);
			- if (pageCount * limit < blockCount) {
				- pageCount++;
			- }
			- var paginationUrlFunction = function(x) {
				- return paginationBaseUrl + "?limit=" + limit + "&offset=" + ((x - 1) * limit + "&sort=" + sort);
			- }

			include includes/pagination.pug
	else
		p No assets found
