extends layout

block headContent
	title Block #{blockHash}

block content
	h1(class="h2") Block 
		small(class="w-12/12 monospace") ##{result.getblock.height.toLocaleString()}

	include includes/block-content.pug
