extends layout

block headContent
    title Home

block content
    h1 Ocean Explorer
    hr

    :markdown-it
        **Ocean Explorer** is an [open-source](http://github.com/commerceblock/ocean-explorer) project designed for [Ocean](https://github.com/commerceblock/ocean) clients.

    div(class="mt-2r c:mt-3r")
        h3 Latest Blocks
    include includes/blocks-list.pug
    if (blockCount > limit)
        - var pageNumber = offset / limit + 1;
        - var pageCount = Math.floor(blockCount / limit);
        - if (pageCount * limit < blockCount) {
            - pageCount++;
        - }
        - var paginationUrlFunction = function(x) {
            - return paginationBaseUrl + "?limit=" + limit + "&offset=" + ((x - 1) * limit + "&sort=" + sort);
        - }

        include includes/pagination.pug
