extends layout

block headContent
	title Home

block content
	h1 DGLD Block Explorer

	:markdown-it
		Investment Grade Gold, Allocated in Swiss Vaults &amp; Secured Using Bitcoin.

	if (latestBlocks)
		div(class="flex justify-between mt-2r c:mt-3r")
			h3 Latest Blocks
					if (getblockchaininfo.initialblockdownload)
						small  (#{(getblockchaininfo.headers - latestheight).toLocaleString()} behind)

			div(class="c:mt-0-25r e:mt-0-5r")
				a(href="/blocks") Browse Blocks &raquo;

		- var blocks = latestBlocks;
		- var blockOffset = 0;

		include includes/blocks-list.pug
