.pagination {
  @apply flex items-center -ml-grid-default;
  & > .page-item {
    @apply pl-grid-default;
    & .page-link {
      @extend %link-style-secondary;
      @apply font-bold inline-block rounded text-grey-300 text-mu;
      border: 1px solid theme('colors.grey.200');
      height: 2.25rem;
      line-height: 2.25rem;
      min-width: 2.25rem;
      padding: 0 0.6rem;
      text-align: center;
    }
    &:hover,
    &.active {
      & .page-link {
        @apply text-primary;
      }
    }
    &.active {
      & .page-link {
        @apply pointer-events-none;
        min-width: 3.25rem;
      }
    }
  }
  & .page-ellipsis {
    @apply mx-0-75r;
  }
}
