extends layout

block headContent
	title Blocks

block content
	h1(class="h2") Blocks

	if (blocks)
		nav(aria-label="Page navigation")
			ul(class="nav-tabs")
				li(class="nav-item")
					a(class="nav-link", class=(sort == "asc" ? "active" : false), href=(sort == "asc" ? "#" : "/blocks?limit=" + limit + "&offset=0" + "&sort=asc"))
						span(aria-hidden="true") Oldest blocks first
				li(class="nav-item")
					a(class="nav-link", class=(sort == "desc" ? "active" : false), href=(sort == "desc" ? "#" : "/blocks?limit=" + limit + "&offset=0" + "&sort=desc"))
						span(aria-hidden="true") Newest blocks first

		include includes/blocks-list.pug

		if (blockCount > limit)
			- var pageNumber = offset / limit + 1;
			- var pageCount = Math.floor(blockCount / limit);
			- if (pageCount * limit < blockCount) {
				- pageCount++;
			- }
			- var paginationUrlFunction = function(x) {
				- return paginationBaseUrl + "?limit=" + limit + "&offset=" + ((x - 1) * limit + "&sort=" + sort);
			- }

			include includes/pagination.pug
	else
		p No blocks found
